@charset "utf-8";

html,body,h1,h2,h3,h4,h5,h6,p,span,img,ul,li {
    margin: 0;
    padding: 0;
    border: 0;
}

ul, li {
    list-style: none;
}

.header {
    text-align: center;
    background-color: rgb(226, 222, 206);
    min-height: 200px;
}

.header h1 {
    padding-top: 30px;
}

.container {
    margin: 50px auto;
    max-width: 900px;
}

.container ul {
    display: flex;
    justify-content: space-between;
}

.container ul li {
    text-align: center;
    background-color: bisque;
    width: calc(100% / 3);
    min-height: 100px;
    padding-top: 20px;
    border-right: 5px solid #fff;
}

.container ul li:nth-of-type(3) {
    border-right: none;
}